html {
	font-family: 'Ubuntu', cursive;
	font-size: 25px;

}

input {
	font-family: 'Ubuntu', cursive;
	font-size: 15px;
}

input.page:hover {
	color: blue;
}
input.goto {
	width: 100px;
	height: 40px;
	color: blue;
	border: none;

	border-radius: 15px;
	margin-top: 65px;
	margin-right: 10px;
	text-decoration: underline;
}
input.goto:hover {
	color: orange;
}
iframe {
	float: right;
}
input.page {
	width: 100px;
	height: 40px;
	color: black;
	background: none;
	border: none;
	border-radius: 15px;
}
section {
	width: 100%;
	padding: 0px;
	margin: 0px;
}
#github {
	width: 200px;
}
form {
	display: inline;
}

nav {
	text-align: right;
	background-color: white;
	height: 5em;
	margin-top: 7px;
}

.lightblue {
	background: lightblue;
}

.white {
	background: white;
	float: right;
}

#logo {
	margin-top: 9px;
	height: 111px;
	float: left;
	margin-left: 25px;
}

html, body {
	margin: 0px;
	left: 0;
	width: 100%;
	padding: 0px;
}

img {
	padding: 0px;
	margin: 0px;
}

.onecol {
	max-width: 94%;
	max-height: 100%;
	padding: 3%;
	margin: none;
}

/*.twocols {
	width: 40%;
	height: 40%;
	padding: 2%;
	height: 250px;
}*/

.left {
	float: left;
}

.first {
	position: relative;
	width: 100%;

}

.overright {
	position: absolute;
	top: 300px;
	float: right;
	right: 40px;
	font-family: ubuntu, cursive;
	width: 500px;
	height: 500px;
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
	border-radius: 250px;
	opacity:0.6;
	font-size: 50px;
}

.titleimage {
	height: 600px;
}