html {
	font-family: 'Ubuntu', cursive;
	font-size: 25px;

}

input {
	font-family: 'Ubuntu', cursive;
	font-size: 15px;
}

input.page:hover {
	color: blue;
}
input.goto {
	width: 100px;
	height: 40px;
	color: blue;
	background: orange;
	border-radius: 15px;
	margin-top: 65px;
	margin-right: 10px;
}

iframe {
	float: right;
}
input.page {
	width: 100px;
	height: 40px;
	color: black;
	background: white;
	border: none;
	border-radius: 15px;
}

#github {
	width: 200px;
}
form {
	display: inline;
}

nav {
	text-align: right;
	background-color: white;
	height: 5em;
	margin-top: 7px;
}

#logo {
	margin-top: 9px;
	height: 111px;
	float: left;
	margin-left: 25px;
}

html, body {
	margin: 0;
	left: 0;
	width: 100%;
	padding: 0;
}

.onecol {
	max-width: 94%;
	max-height: 100%;
	padding: 3%;
	margin: none;
}

/*.twocols {
	width: 40%;
	height: 40%;
	padding: 2%;
	height: 250px;
}*/

.left {
	float: left;
}

.first {
	position: relative;
	width: 100%;

}

.overright {
	position: absolute;
	top: 350px;
	float: right;
	right: 0;
	font-family: ubuntu, cursive;
	width: 45%;
	height: 45%;
	border-radius: 360px;
	opacity:0.6;
	font-size: 50px;
}