
input.goto {
	width: 100px;
	height: 40px;
	color: blue;
	background: orange;
	border-radius: 15px;
}

input.page {
	width: 100px;
	height: 40px;
	color: white;
	background: green;
	border-radius: 15px;
}

#facts {
	width: 170px;
}
form {
	display: inline;
}

nav {
	text-align: right;
}

.onecol {
	width: 94%;
	height: auto;
	padding: 3%;
	margin: none;
}

.twocols {
	width: 45%;
	padding: 2%;
	height: 250px;
}